.nom {
    display: flex;
    flex-wrap: wrap; 
    border-radius: 4px;
}



.Carte.active {
    margin:20px ;
    height: 200px;
    width: 120px;
    color:white;
    animation: cardFlip;
    animation-duration:1s;
    background-color: white !important;
    border-radius: 20px;
   

}


.Carte.inactive {
    margin:20px ;
    height: 200px;
    width: 120px;
    background: white;
    animation: cardunFlip;
    animation-duration: 1s;
    border-radius: 20px;
    
    
    
    

}

.Carte.active .recto {
    display: none;
    
}

.Carte.inactive .verso {
  display: none;
  
}

.recto{
    
    position:relative;
    height: 200px;
    width: 120px;
    border-radius: 20px;
    
  
    
}
.verso {
  height: 200px;
  width: 120px;
  border-radius: 20px;
 


}



  
  @keyframes cardFlip {
    0% {
      transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  @keyframes cardunFlip {
    0% {
      transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }